.home {
	padding-bottom: 80px;
}
.home h3,
.home h2 {
	color: rgba(255, 255, 255, 0.7);
}
.home h3 {
	margin-bottom: 80px;
}
.home .full-gird h2 {
	text-align: center;
}

.full-gird .text {
	margin-top: 40px;
	line-height: 1.8rem;
}
.home .full-gird {
	margin-top: 50px;
}

@media (max-width: 1280px) {
	.home .lottieImage {
		display: none;
	}
}
