.nav {
	position: fixed;
	top: 0;
	right: 350px;
	left: 0;
	padding: 20px;
	z-index: 30;
	font-weight: bold;
	background-color: #2e334d;
	display: flex;
	justify-content: space-between;
}

.nav h2 {
	color: salmon;
}
.nav .menu {
	cursor: pointer;
	display: none;
}
