* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Almarai", sans-serif;
	text-align: right;
}
body {
	background-color: #1d2239;
}
/* .page {
	padding-top: 80px;
} */
a {
	text-decoration: none;
}
.App > .MuiGrid-container > .MuiGrid-item:nth-child(2) {
	padding: 20px;
}

.title {
	border-right: 3px solid;
	border-image: linear-gradient(to bottom, #f88b7f, #e71f65) 1 100%;
	margin-bottom: 20px;
	padding: 7px;
	color: white;
}

/* for search input */
label.MuiFormLabel-root {
	color: #ccc;
	right: 0;
	transform-origin: top right;
}
label.MuiInputLabel-formControl {
	right: 0;
}

/* .MuiInput-underline:hover:not(.Mui-disabled):before {
	border-bottom: 2px solid #ddd;
} */

.MuiInput-underline:before {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.MuiInputBase-input {
	color: #ccc !important;
}

.MuiPaper-root {
	background-color: #e71f65 !important;
}

.athan .MuiPaper-root {
	background-color: #1d2239 !important;
}
.wrapper {
	position: relative;
}

.right {
	position: fixed;
	top: 0;
	right: 0;
	width: 350px;
	z-index: 11;
	transition: 0.4s;
}

.left {
	margin-left: 20px;
	margin-right: 370px;
	margin-top: 100px;
}

@media (max-width: 991px) {
	.right {
		width: 250px;
	}
	.left {
		margin-right: 270px;
	}

	.nav {
		right: 250px !important;
	}

	.pageBody {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.nav {
		right: 0 !important;
	}
	.nav .menu {
		display: block !important;
	}

	.hide-on-xs {
		transform: translateX(100%);
	}

	.left {
		margin-left: 20px;
		margin-right: 15px;
		/* margin-top: 100px; */
	}

	.right {
		width: 100%;
		margin-top: 77px;
	}
}
